<!DOCTYPE html>
<!--  first div (header) was for navbar+rent now+ side image, second big div is categories   -->

<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no" >
    <title>Rent it Mate</title>
    <!--  this  comes from google.fonts    -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <!--  this is for star sign    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-updated.css' %}" />
</head>
<body>
    <div class="header" style="background:linear-gradient(to right, #A8F994 , #17B92C);">
        <div class="container">
            <div class="navbar">
                <div  class="logo">
                   <a href="{% url 'index' %}">
                           <img  src="{% static 'assets/logo2.png' %}" width="125px">
                   </a>
                </div>
                <nav>
                    <ul id="menuitems" >
                        <li><div class="dropdown">
                            <a class="dropbtn">Learn more
                              <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-content">
                                <a href="{% url 'tryin' %}">FAQ</a>
                                <a href="">How it works</a>
                                <a href="">About us</a>

                            </div></div>
                        </li>
                         <li><div class="dropdown">
                            <a class="dropbtn">Categories
                              <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-content">
                                <a href="{%url 'sport_outdoor'%}">Spor & Outdoor</a>
                                <a href="{%url 'drone_cameras' %}">Drone & Cameras</a>
                                <a href="{%url 'electronics'%}">Electronics</a>
                                <a href="{%url 'home_appliances'%}">Home Appliances</a>
                                <a href="{%url 'musical'%}">Musical</a>
                                <a href="{%url 'accessories'%}">Accessories</a>
                            </div></div>
                        </li>


                        {% if request.user.is_authenticated %}
                                   <li><div class="dropdown">
                                        <a class="dropbtn">My Account
                                          <i class="fa fa-caret-down"></i>
                                        </a>
                                        <div class="dropdown-content">
                                            <a href="{%url 'myaccount' request.user.customer.id %}">My Account</a>
                                            <hr class="dropdown-divider" />
                                          <a href="{%url 'myitem' request.user.customer.id %}">My Items</a>
                                          <a href="{%url 'listitem' request.user.customer.id %}">List an Item</a>
                                          <a href="{%url 'mybookeditems' request.user.customer.id %}">My bookings</a>
                                            <hr class="dropdown-divider" />
                                            <a href="{%url 'logout' %}">Logout</a>
                                        </div></div>
                                    </li>
                            {% else %}
                               <li><a href="{% url 'login' %}">Login / Register</a></li>
                        {% endif%}

                    </ul>

                </nav>
                <img src="static/assets/cart.png" width="30px" height="30px">
                <img class="menu-icon" src="static/assets/menu.png" onclick="menutoggle()" width="30px" height="30px">
            </div>

             </div>
         </div>
{% block content %}

{% endblock %}

<!-- offer     -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="images/exclusive.png" class="offer-img" alt="">
                </div>
                <div class="col-2">
                    <p> Easy way for passive income </p>
                    <h2>List any items that you rarely need</h2>
                    <p> Start earning now </p>
                       {% if request.user.is_authenticated %}
                                   <a class="btn" href="{%url 'listitem' request.user.customer.id %}">List an item &#x2794;</a>
                            {% else %}
                               <a class="btn" href="{% url 'login' %}">Register &#x2794;</a>
                        {% endif%}

                </div>
            </div>
        </div>
    </div>


<!-- footer     -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download </h3>
                    <p>Our app will be available soon </p>
                </div>
                 <div class="footer-col-2">
                     <img src="images/logo-white.png" alt="">
                     <p>We take responsibility for less  consuming </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links </h3>
                    <ul>
                        <li>About us</li>
                        <li>Campaign</li>
                        <li>Contact</li>
                        <li>Get discount</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"> Copyright 2022 - Rent It Mate</p>
        </div>
    </div>

    <!-- toggle menu     -->
    <script>
        var menu = document.getElementById('menuitems');
        menu.style.maxHeight == '0px';

        function menutoggle(){

            if (menu.style.maxHeight == '0px') {
                menu.style.maxHeight = '200px';
                }
            else {
                menu.style.maxHeight = '0px';
            }
         }


    </script>


    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrxl-TFun6FZ4ZS4Ss2yocmC8uga8OBg&callback=initMap&v=weekly"
      defer
    ></script>


</body>
</html>

</body>