<!DOCTYPE html>
<!--  first div (header) was for navbar+rent now+ side image, second big div is categories   -->

<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no" >
    <title>Rent it Mate</title>
    <!--  this  comes from google.fonts    -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <!--  this is for star sign    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'css/style-updated.css' %}" />
</head>
<body>
<!-- navbar + rent now... + side img   -->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="static/assets/logo.png" width="125px">
                </div>
                <nav>
                    <ul id="menuitems" >
                        <li><a href="">Home</a></li>
                         <li><div class="dropdown">
                            <a class="dropbtn">Categories
                              <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-content">
                              <a href="{%url 'camping'%}">Camping</a>
                              <a href="{%url 'surfing'%}">Surfing</a>
                              <a href="{%url 'kayaking'%}">Kayaking</a>
                            </div></div>
                        </li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        {% if request.user.is_authenticated %}
                                  <li><a href="">My account</a></li>
                            {% else %}
                               <li><a href="">Login / Register</a></li>
                        {% endif%}

                    </ul>

                </nav>
                <img src="static/assets/cart.png" width="30px" height="30px">
                <img class="menu-icon" src="static/assets/menu.png" onclick="menutoggle()" width="30px" height="30px">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Rent now,<br> start your adventure</h1>
                    <p>Instant product sharing  <br>Find the nearest product and pick it up </p>
                    <a href="{% url 'kayaking' %}" class="btn"> Kayaking  &#x2794; </a>
                    <a href="{% url 'camping' %}" class="btn"> Camping  &#x2794; </a>
                    <a href="{% url 'surfing' %}" class="btn"> Surfing &#x2794; </a>

                </div>
                <div class="col-2">
                    <img src="static/assets/campingw.png">
                </div>
            </div><hr><br>
            <h3 style="text-align:center; ">Check the map for nearest items</h3>
            <h3 onclick="myFunction()" style=" text-align:center;">Show filters</h3>


            <div style="display:none" id="filter_div" class="row">
                <div class="col">
                    <div class="card card-body">

                         <form method="get" enctype="multipart/form-data">
                             <div  class="row" style="text-align:center;">
                                <div  class="form-group col-md-2 mb-0">
                                     {{ p_filter.form.name|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-2 mb-0">
                                        {{ p_filter.form.start_date|as_crispy_field }}
                                </div>
                                 <div class="form-group col-md-2 mb-0">
                                        {{ p_filter.form.end_date|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-2 mb-0">
                                         {{ p_filter.form.category|as_crispy_field }}
                                </div>
                                 <br><button type="submit" class="btn btn-primary">Search</button>
                            </div>


                         </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


     <div class="card card-body" style="overflow-y:auto; height: 500px; overflow: ">

                   <div id="map">

                   </div>

     </div><br>

<!-- featured    -->
<!-- for star item font awesome 4 cdn - bootstrap copy url paste it head section then fontawsomeicons.com dan iconu bul  -->
    <div class="small-container">
        <h2 class="title ">Last Listings</h2>
        <div class="row">
              {% for product in products%}
                    <div class="col-4">
                        <a href="{% url 'indexitem' product.id %}">
                            <img src="{{product.imageURL}}" alt="">
                            <h4>{{product.name}}</h4>
                            <div class="rating">
                                <i class="fa fa-star" ></i>
                                <i class="fa fa-star" ></i>
                                <i class="fa fa-star" ></i>
                                <i class="fa fa-star" ></i>
                                <i class="fa fa-star-o" ></i>
                            </div>
                            <p>${{product.price|floatformat:2}}</p>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>

<!-- offer     -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="static/assets/campingw.png" class="offer-img" alt="">
                </div>
                <div class="col-2">
                    <h2> How it works </h2>
                    <small>1. Search what/when you need</small><br>
                    <small>2. Find the closest one to you on map</small><br>
                    <small>3. Register</small><br>
                    <small>4. Pick it up from your neighbour</small>

                    <a class="btn" href="">Check out for more &#x2794;</a>


                </div>
            </div>
        </div>
    </div>

<!-- testimonial     -->
<!-- footer
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <p> Tah is aawsome mattee</p>
                    <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-half" ></i>
                    </div>
                    <img src="static/assets/user-1.png" alt="">
                    <h3> Melbourne  City</h3>
                </div>
                <div class="col-3">
                    <p> Tah is aawsome mattee</p>
                    <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-half" ></i>
                    </div>
                    <img src="static/assets/user-2.png" alt="">
                    <h3> Brisbane  City</h3>
                </div>
                <div class="col-3">
                    <p> Tah is aawsome mattee</p>
                    <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-half" ></i>
                    </div>
                    <img src="static/assets/user-3.png" alt="">
                    <h3> Sydney  City</h3>
                </div>
            </div>
        </div>
    </div>



    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="static/assets/logo-godrej.png" alt="">
                </div>
                <div class="col-5">
                    <img src="static/assets/logo-oppo.png" alt="">
                </div>
                <div class="col-5">
                    <img src="static/assets/logo-coca-cola.png" alt="">
                </div>
                <div class="col-5">
                    <img src="static/assets/logo-godrej.png" alt="">
                </div>
            </div>
        </div>
    </div>
   -->
<!-- footer     -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download </h3>
                    <p>Our app will be available soon </p>
                </div>
                 <div class="footer-col-2">
                     <img src="static/assets/logo-white.png" alt="">
                     <p>We are proud of to be Melbourne based </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links </h3>
                    <ul>
                        <li>About us</li>
                        <li>Campaign</li>
                        <li>Contact</li>
                        <li>Get discount</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"> Copyright 2022 - Rent It Mate</p>
        </div>
    </div>

    <!-- toggle menu     -->
    <script>
        var menu = document.getElementById('menuitems');
        menu.style.maxHeight == '0px';

        function menutoggle(){

            if (menu.style.maxHeight == '0px') {
                menu.style.maxHeight = '200px';
                }
            else {
                menu.style.maxHeight = '0px';
            }
         }

    </script>

    <script>

            {% if has_filter %}
                var x = document.getElementById("filter_div");
                x.style.display = "block";
            {% endif %}

            function myFunction() {

                  var x = document.getElementById("filter_div");
                  if (x.style.display === "none") {
                    x.style.display = "block";
                  }
                  else {
                    x.style.display = "none";
                  }
                }
    </script>


    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrxl-TFun6FZ4ZS4Ss2yocmC8uga8OBg&callback=initMap&v=weekly"
      defer
    ></script>

    <script>

            function initMap() {

              var markers2=[]
              {% for product in products%}

                var lats = '{{ product.customer.latitude }}'
                var lats2 = parseFloat(lats)
                var lg = '{{ product.customer.longitude }}'
                var lg2 = parseFloat(lg)
                var mark = {coord:{lat:lats2,lng:lg2},
                           content : "<div  >'<div class ='box small' style='float:left'; ><a href= {% url 'indexitem' product.id %} style = 'font-size:16px; text-decoration:none; color:black'><img id='surf1' src='static/images/{{product.item_pic}}'><br></div><div style='float:right; padding: 10px; font-size:14; '><b>{{product.name}}</b><br><b>${{product.price|floatformat:2}}</b> </div>",
                           optimized: true
                            }
                markers2.push(mark);
              {%endfor%}

              var options = {
                     zoom :10,
                     center :{ lat: -37.844091, lng: 145.003759 }}

              if (document.getElementById("map")){
                  var map = new google.maps.Map(document.getElementById("map"), options);

                  function addMarker(props){
                    const marker = new google.maps.Marker({
                        position: props.coord,
                        map: map,
                         });

                    if (props.iconImg){
                        marker.setIcon(props.iconImg);}

                    if (props.content){
                        var infoWindow = new google.maps.InfoWindow({
                            content: props.content
                           });
                        marker.addListener('click', function(){
                        infoWindow.open(map,marker);

                        });
                       }
                    }


                  for (var i =0 ; i < markers2.length; i++){
                        addMarker(markers2[i]);}

                }


              }


            window.initMap = initMap;




    </script>



</body>
</html>