<!DOCTYPE html>
<!--  first div (header) was for navbar+rent now+ side image, second big div is categories   -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent it Mate</title>
    <link rel="stylesheet" href="style.css">
    <!--  this  comes from google.fonts    -->
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <!--  this is for star sign    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'css/style-updated.css' %}" />
</head>
<body>
<!-- navbar + rent now... + side img   -->
    <div class="header" style="background:linear-gradient(to right, #9DF1E2 , #4F71DB);">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="images/logo.png" width="125px">
                </div>
                <nav>
                    <ul id="menuitems" >
                        <li><a href="{%url 'index'%}">Home</a></li>
                        <li><a href="">Categories</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                         {% if request.user.is_authenticated %}
                                  <li><a href="">My account</a></li>
                            {% else %}
                               <li><a href="">Login / Register</a></li>
                        {% endif%}
                    </ul>
                </nav>
                <img src="images/cart.png" width="30px" height="30px">
                <img class="menu-icon" src="images/menu.png" onclick="menutoggle()" width="30px" height="30px">
            </div>
            <div class="row">
                <div class="col-2">
                    <h2>Let's ride a wave</h2>
                    <p>Easiest way of experiencing products. <br>No need for paying all </p>
                    <a href="" class="btn"> Top 4 surfing spots &#x2794; </a>
                </div>
                <div class="col-2">
                    <img src="images/surf.png">
                </div>
            </div>
        </div>
    </div>

<!-- map   -->



    <div class="card card-body" style="overflow-y:auto; height: 500px; overflow: ">

           <div id="map" style="height:400px; width:%100"></div>

    </div>









<!-- featured    -->
<!-- for star item font awesome 4 cdn - bootstrap copy url paste it head section then fontawsomeicons.com dan iconu bul  -->
    <div class="small-container">
        <h2 class="title ">Camping Products</h2>
        <div class="row">

            {% for product in products%}
               {% if product.category == 'Surfing'%}

                    <div class="col-4">
                        <a href="{% url 'indexitem' product.id %}">
                        <img src="{{product.item_pic.url}}"  alt="">
                        <h4>   {{product.name}}</h4>
                        <div class="rating">
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star-half" ></i>
                        </div>
                        <p> ${{product.price|floatformat:2}}</p>
                    </div>
                 {% endif %}
            {% endfor %}

        </div>

    </div>

<!-- offer     -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="images/exclusive.png" class="offer-img" alt="">
                </div>
                <div class="col-2">
                    <p> Most chosen ones </p>
                    <h1>bla bla product</h1>
                    <small>manyak bisey oldu bu alan harbiden bak </small>
                    <a class="btn" href="">Check out &#x2794;</a>
                </div>
            </div>
        </div>
    </div>


<!-- footer     -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download </h3>
                    <p>Our app will be available soon </p>
                </div>
                 <div class="footer-col-2">
                     <img src="images/logo-white.png" alt="">
                     <p>We take responsibility for less  consumint </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links </h3>
                    <ul>
                        <li>About us</li>
                        <li>Campaign</li>
                        <li>Contact</li>
                        <li>Get discount</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"> Copyright 2022 - Rent It Mate</p>
        </div>
    </div>

    <!-- toggle menu     -->
    <script>
        var menu = document.getElementById('menuitems');
        menu.style.maxHeight == '0px';

        function menutoggle(){

            if (menu.style.maxHeight == '0px') {
                menu.style.maxHeight = '200px';
                }
            else {
                menu.style.maxHeight = '0px';
            }
         }


    </script>

     <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrxl-TFun6FZ4ZS4Ss2yocmC8uga8OBg&callback=initMap&v=weekly"
      defer
    ></script>

    <script>

        function initMap() {

          var options = {
                 zoom :12,
                 center :{ lat: -37.815094, lng: 144.959683 }}

          if (document.getElementById("map")){
              var map = new google.maps.Map(document.getElementById("map"), options);



              var markers2=[]
              {% for product in products %}
                {% if product.category == 'Surfing' %}
                    var lats = '{{ product.customer.latitude }}'
                    var lats2 = parseFloat(lats)
                    var lg = '{{ product.customer.longitude }}'
                    var lg2 = parseFloat(lg)
                    var mark = {coord:{lat:lats2,lng:lg2},
                               content : "<div class ='box small' style='float:left'><a href= {% url 'indexitem' product.id %} style = 'font-size:16px; text-decoration:none; color:black'><img id='surf1' src='static/assets/{{product.item_pic}}'></div><div style='float:right; padding: 10px; font-size:14; '><b>{{product.name}}</b><br><b>${{product.price|floatformat:2}}</b>",
                           }
                    markers2.push(mark);
                 {% endif %}
              {% endfor %}

              function addMarker(props){
                const marker = new google.maps.Marker({
                    position: props.coord,
                    map: map,
                     });
                //icon :props.iconImg
                //check icon
                if (props.iconImg){
                    marker.setIcon(props.iconImg);}

                if (props.content){
                    var infoWindow = new google.maps.InfoWindow({
                        content: props.content
                       });
                    marker.addListener('click', function(){
                    infoWindow.open(map,marker);
                    });
                   }
                }


              // list of markers here


              for (var i =0 ; i < markers2.length; i++){
                //if (markers[i].content =='training') {
                addMarker(markers2[i]);}

        }
          }


        window.initMap = initMap;

    </script>


</body>
</html>