<!DOCTYPE html>
<!--  first div (header) was for navbar+rent now+ side image, second big div is categories   -->

<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
{% load crispy_forms_tags %}
<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- FontAwesome CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        .text-secondary {
    color: #3d5d6f;
  }

  .h4,
  h4 {
    font-size: 1.2rem;
  }

  h2 {
    color: #333;
  }

  .fa,
  .fas {
    font-family: 'FontAwesome';
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
  }

  .right-0 {
    right: 0;
  }

  .top-0 {
    top: 0;
  }

  .h-100 {
    height: 100%;
  }

  a.text-secondary:focus,
  a.text-secondary:hover {
    text-decoration: none;
    color: #22343e;
  }

  #accordion .fa-plus {
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }

  #accordion a[aria-expanded=true] .fa-plus {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
    </style>

</head>
<body>
    <div class="header" style="background:linear-gradient(to right, #BCE2C5,#80B4E7);">
        <div class="container">
            <div class="navbar">
                <div  class="logo">
                   <a href="{% url 'index' %}">
                           <img  src="{% static 'assets/logo2.png' %}" width="125px">
                   </a>
                </div>
                </nav>
                   </div>
             </div>
    </div>
    <div class="text-center">
            <h2 class="mt-5 mb-5">FAQ</h2>
          </div>
          <section class="container my-5" id="maincontent">
            <section id="accordion">
              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-17" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    How can I list a product?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-17" style="">
                <div class="card card-body border-0 p-0">
                  <p>Sign up our platform, upload photo of your item, decide the daily/hourly price of your item. Keep an eye for bookings now!!</p>

                </div>
              </div>

                 <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-11" aria-expanded="false" data-toggle="collapse" href="#faq-11" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    How can I rent a product?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-11" style="">
                <div class="card card-body border-0 p-0">
                  <p>Search what / when you need, create an account in 2 mins pick it up from your neighbour</p>

                </div>
              </div>

                <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-12" aria-expanded="false" data-toggle="collapse" href="#faq-12" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    What happens if I damage the product?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-12" style="">
                <div class="card card-body border-0 p-0">
                  <p>Contact with our agent. If the item is unusable anymore we charge the 2.hand price of the item. If it has some issues we work with professionals to fix it in cheaper and quality way</p>

                </div>
              </div>

              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-18" aria-expanded="false" data-toggle="collapse" href="#faq-18" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    I have problem with my booking / account.
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-18" style="">
                <div class="card card-body border-0 p-0">
                  <p>Our agent will be there for you, call us or email us</p>
                  <p>
                  </p>
                </div>
              </div>

              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-19" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    Will my item be insured during hiring process?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-19" style="">
                <div class="card card-body border-0 p-0">
                  <p>Yes, we offer out of pocket options when you are renting the item</p>
                  <p>
                  </p>
                </div>
              </div>

              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                   When will I get paid ?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-20">
                <div class="card card-body border-0 p-0">
                  <p>Payments to our listers will be done at the first week of each month, if you need urgent no worries text us. We get you covered</p>
                  <p>
                  </p>
                </div>
              </div>


              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-22" aria-expanded="false" data-toggle="collapse" href="#faq-22" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    What is the mission of rent for a day ?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-22">
                <div class="card card-body border-0 p-0">
                  <p>Our vision is to be strong player of the market for a greener world,be part of less consuming environment and supporting each others.</p>
                  <p>
                  </p>
                </div>
              </div>
            </section>
          </section>
</body>