<!DOCTYPE html>


{% load static%}
{% load crispy_forms_tags %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main </title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />



</head >
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-grey" style="background-color: #e3f2fd;">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'index' %}">Rent It Mate</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'surfing' %}">Surfing</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'kayaking' %}">Kayaking</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'camping' %}">Camping</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
<br><br><div class="card text-center">
  <div class="card-header">
    Update "{{item}}"
  </div>
  <div class="card-body">


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-2 mb-0">
                 {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                    {{ form.price|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                     {{ form.category|as_crispy_field }}
            </div>
             <div class="form-group col-md-3 mb-0">
                     {{ form.available_from|as_crispy_field }}
            </div>
             <div class="form-group col-md-3 mb-0">
                     {{ form.available_to|as_crispy_field }}
            </div>
        </div><br><br>

        <div class="row">

          <div class="form-group col-md-6 mb-0">
                        <div class="form-group col-md-6 mb-0">
                        {{ form.item_pic|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                        {{ form.item_pic_2|as_crispy_field }}
                      </div>
                        <div class="form-group col-md-6 mb-0">
                        {{ form.item_pic_3|as_crispy_field }}
                      </div>
                          <div class="form-group col-md-6 mb-0">
                        {{ form.item_pic_4|as_crispy_field }}
                      </div>
          </div>
            <div class="form-group col-md-4 mb-0">
            {{ form.description|as_crispy_field  }}
          </div>


            <br><br>

        <div class="form-group col-md-6 mb-0">
            {{ form.customer|as_crispy_field }}
          </div>

        <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

  </div>
  <div class="card-footer text-muted">
      {{product.date_created}}
  </div>
</div>


</body>